$title-size: 40rpx;
$title-color: #bd34fe;

$section-raduis: 10rpx;
// $bg-primary: #288cca;
$bg-primary: #F1B44F;

$text-color-primary: #F1B44F;
$text-color-dark: #333;
$text-color-light: #909399;

$base-color-mall: #f74f43;